vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Jan 2010 11:47:46 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|tests/hints/test.htm
vti_author:SR|3B2580B36444471\\Murat
vti_modifiedby:SR|3B2580B36444471\\Murat
vti_timecreated:TR|04 Jul 2010 07:22:19 -0000
vti_cacheddtm:TX|04 Jul 2010 07:22:19 -0000
vti_filesize:IR|2310
