.outer {
	text-align: center;
	margin: 0px auto;
	width: 550px;
	height: 390px;
	color: #006;
}
.container {
	margin-top: 100px;
	padding-top: 40px;
	background-image: url('back.jpg');
	background-repeat: no-repeat;
	width: 550px;
	height: 335px;
	color: #006;
}
.tInp {
	width: 200px;
	height: 20px;
	font-size: 18px;
	font-family: Arial;
}
#panel {
	margin: 0px auto;
	text-align: justify;
	text-indent: 5px;
	background: #754c24;
	width: 400px;
	height: 100px;
	display: none;
	color: #fff;
	font: 16pt Arial, Helvetica, sans-serif;
}
.slide {
	text-align: center;
	width: 400px;
	margin: 0px auto;
	padding: 0;
	border-top: solid 4px #422410; 
	background: url(files/slid.gif) no-repeat center top;
}
.btn-slide {
	background: url(files/ar.gif) no-repeat right -50px;
	text-align: center;color: #fff;
	width: 144px;
	height: 31px;
	padding: 10px 10px 0 0;	
	margin: 0 auto;
	display: block;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.active {
	background-position: right 12px;
}