vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Jul 2010 07:24:41 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|v1_1/test.htm v1_2/test.htm v3_1/test.htm v1_3/test.htm z5_1/test.htm v2_1/test.htm v4_1/test.htm v4_2/test.htm
vti_author:SR|3B2580B36444471\\Murat
vti_modifiedby:SR|3B2580B36444471\\Murat
vti_timecreated:TR|04 Jul 2010 08:07:28 -0000
vti_cacheddtm:TX|04 Jul 2010 08:07:28 -0000
vti_filesize:IR|2371
